body {
    background-image: linear-gradient(rgb(159, 204, 252)50%, white 90%) ;
}

h1 {
    color: white;
    font-family: area-normal, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    letter-spacing: 6px;
    text-align: center;
    padding-top: 50px;
}

#homepage {
    color: white;
    font-family: area-normal, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 25px;
    margin-right: 150px;
    margin-left: 150px;
    text-align: justify;
    line-height: 1.3;
}

#imageone {
    float: right;
    max-width: 200px;
    padding-top: 50px;
    padding-right: 50px;
  }

#imagetwo {
    float: right;
    max-width: 300px;
    padding-top: 50px;
    padding-right: 50px;
}

#quiz {
    color: rgb(159, 204, 252);
    font-family: area-normal, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 6px;
    background-color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    margin-left: 150px;
}

#quiz:visited {
    color: rgb(159, 204, 252);
    text-decoration: none; 
    text-align: center;
    border-radius: 15px;
}

#quiz:hover {
    color: rgb(159, 204, 252);
    text-decoration: none; 
    text-align: center;
    background-color: #EFF0B1;
    font-family: area-normal, sans-serif;
    font-style: italic;
    font-weight: 600;
    padding: 20px 30px;
    border-radius: 15px;
}

.parent {
    width: 100%;
    display: flex;
    font-family: area-normal, sans-serif;
    font-style: italic;
    font-weight: 600;
    border-radius: 15px;
    margin: auto;
    justify-content: space-between;
  }
  
  .child {
    padding: 20px;
    color: rgb(159, 204, 252);
    text-decoration: none;
    font-size: 17px;
    font-family: area-normal, sans-serif;
    font-style: italic;
    font-weight: 600;
    width: 15%; 
    text-align: center; 
    border-style: solid;
    border-color: rgb(159, 204, 252);
    border-radius: 15px;
  }

  a:visited {
    color: rgb(159, 204, 252);
    text-decoration: none;
  }
  .child:hover { 
    background-color: #EFF0B1;
    font-family: area-normal, sans-serif;
    font-style: italic;
    font-weight: 600;
    border-radius: 15px;
    text-decoration: none; 
  }
  
 

