body {
    background-image: linear-gradient( #9edbbb 50%, white 90%) ;
}

h1 {
    color: white;
    font-family: area-normal, sans-serif;
    font-style: italic;
    font-weight: 900;    
    font-size: 100px;
    padding-top: 100px;
    margin-left: 100px;
    padding-bottom: 0;
    animation: moveIn 1s 0.5s forwards; /* Apply the animation */
}

@keyframes moveIn {
    0% {
        margin-left: -1000px; /* Move the h1 off the screen initially */
    }
    100% {
        margin-left:100px; /* Move the h1 to its current place */
    }
}


hr {
    border-top: 5px solid white;
    margin-left: 70px;
    margin-right: 70px;

}

.hr2 {
    border-top: 5px solid #94d0b1;
    margin-left: 70px;
    margin-right: 70px;
}

.parent {
    width: 1200px;
    max-height: 700px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
    .child1 {
        width: 400px;
        height: 400px;
        padding-top: 80px;
    }
    .child2 {
        width: 400px;
        height: 400px;
    }
    img {
        height: 600px;
    }
    
    img:hover {
        height: 615px;
    }

    p1 {
        color: white;
        font-family: area-normal, sans-serif;
        font-style: italic;
        font-weight: 600;    
        font-size: 50px;
        padding-bottom: 0;
    }
    p2 {
        color: white;
        font-family: area-normal, sans-serif;
        font-style: normal;
        font-weight: 300;    
        font-size: 20px;
        padding-bottom: 0;
        line-height: 1.3;
    }
    p3 {
        color: #94d0b1;
        font-family: area-normal, sans-serif;
        font-style: italic;
        font-weight: 600;    
        font-size: 50px;
        padding-bottom: 0; 
    }
    p4 {
        color: #94d0b1;
        font-family: area-normal, sans-serif;
        font-style: normal;
        font-weight: 300;    
        font-size: 20px;
        padding-bottom: 0; 
        line-height: 1.3;
    }

    #step {
        color: white;
        font-family: area-normal, sans-serif;
        font-style: normal;
        font-weight: 800;    
        font-size: 30px;
        padding-bottom: 0;
        line-height: 1.3;
        margin-left: 150px;
        padding-top: 0px;
    }

    #step2 {
        color: #94d0b1;
        font-family: area-normal, sans-serif;
        font-style: normal;
        font-weight: 800;    
        font-size: 30px;
        padding-bottom: 0;
        line-height: 1.3;
        margin-left: 150px;
        padding-top: 0px;
    }

    #ingredients {
        color: white;
        font-family: area-normal, sans-serif;
        font-style: normal;
        font-weight: 300;    
        font-size: 15px;
        padding-bottom: 0;
        line-height: 1.3;
        margin-left: 150px;
    }

    #ingredients2 {
        color: #94d0b1;
        font-family: area-normal, sans-serif;
        font-style: normal;
        font-weight: 300;    
        font-size: 15px;
        padding-bottom: 0;
        line-height: 1.3;
        margin-left: 150px;
    }

    #explain {
        color: #94d0b1;
        font-family: area-normal, sans-serif;
        font-style: normal;
        font-weight: 300;    
        font-size: 20px;
        padding-bottom: 50px;
        line-height: 1.3; 
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
    }