body {
    background-image: linear-gradient(rgb(159, 204, 252) 60%,white 90%);
}

h1 {
    color: white;
    font-family: area-normal, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    letter-spacing: 6px;
    text-align: center;
    padding-top: 70px;
}

p {
    color: white;
    font-family: area-normal, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 1.3;
    text-align: center;
}

div {
    overflow: hidden;
    height: 200px;
}

    p1 {
    color: white;
    font-family: area-normal, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    }

    p2 {
    color: white;
    font-family: area-normal, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    }

.parent {
    width: 1000px;
    height: 350px;
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: space-between;
    border-radius: 15px;

  }
  .child1 {
    width: 1000px;
    height: 300px;
    border: 5px solid white;
    padding: 10px 10px;
    vertical-align: middle;
    text-align: center;
    background-color: #FCA69F;
    border-radius: 15px;
  }
  .child2 {
    width: 1000px;
    height: 300px;
    border: 5px solid white;
    padding: 10px 10px;
    vertical-align: middle;
    text-align: center;
    background-color: #95c98b;
    border-radius: 15px;
  }



  

.parent2 {
    width: 1350px;
    height: 500px;
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: space-between;
}

    .face {
        position: relative;
        width: 265px; /* can be omitted for a regular non-lazy image */
        height: 330px;
        border-radius: 15px;
    }
    .main {
    width: 265px;
    border-radius: 15px;

    }

    .hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
    width: 268px;
    border-radius: 15px;
    }

    .face:hover .hover {
    opacity: 1;
    width: 268px;
    border-radius: 15px;
  }

.parent3 {
    width: 1350px;
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: space-between;
}
  #typeletter {
    color:rgb(159, 204, 252);
    font-family: area-normal, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    width: 200px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 16px;
  }